#creations{
    margin: 450px 0 0 0;
    padding: 0 0 0 80px;

    .creations{
        h2{
            @include fontSize(30px);
            float: left;
        }

        .btn{
            float: right;
            border: 2px solid $primary-2;
            margin: 20px 50px 0 0;
            padding: 5px 30px;
            color: $primary-2;
            text-decoration: none;

            &:last-child{
                display: none;
            }

            // active state al passaggio del mouse(hover)
            &:hover{
                color: $primary-1;
                background: $primary-2;
                transition: all 0.4s;
            }
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            padding: 50px 0 0 0;

            .first, .second, .third, .fourth, 
            .fifth, .sixth, .seventh, .eighth{
                position: relative;

                .image{
                    img{
                        width: 200px;
                        margin: 0 40px 40px 0;
                        box-shadow: 0 0 10px #808080;
                        border-radius: 5px;
                        
                    }
                }

                .caption{
                    position: absolute;
                    bottom: 40px;
                    left: 35px;

                    h2{
                        @include fontSize(30px);
                        color: white;
                        @include fontWeight(300);
                    }
                }
            }

            .first, .third, 
            .fifth, .seventh{
                &:hover{
                    transform: rotate(4deg);
                    transition: transform 0.9s;
                    opacity: 0.6;
                    transition: opacity 0.4s;
                }

                .caption{
                    &:hover{
                        h2{
                            color: $primary-2;
                        }
                    }
                }
            }

            .second, .fourth, 
            .sixth, .eighth{
                &:hover{
                    transform: rotate(-4deg);
                    transition: transform 0.9s;
                    opacity: 0.6;
                    transition: opacity 0.4s;
                }

                .caption{
                    &:hover{
                        h2{
                            color: $primary-2;
                        }
                    }
                }
                
            }
        }
    }
}


@media screen and(min-width: 1440px){

    #creations{
        .creations{
            .cards{
                .first, .second, .third,
                .fourth, .fifth, .sixth, .seventh, .eighth{
                    .image{
                        img{
                            // Immagine orizzontale per mobile, nascosta per desktop
                            &:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}