// Colors
$primary-1: hsl(0, 0%, 100%);
$primary-2: hsl(0, 0%, 0%);
$primary-3: hsl(0, 0%, 55%);
$primary-4: hsl(0, 0%, 41%);

// Fonts
$font-1: 'Alata', sans-serif;
$font-2: 'Josefin Sans', sans-serif;



